{% extends "layout.html" %}

{% block content %}

    <div class="main-container">
        <div class="cloud-image">
            <img src="../static/img/successCloudNew.svg"/>
        </div>
        <div class="content">
            <div class="tweet-container">
                <a href="http://twitter.com/intent/tweet/?text=I%20love%20%23Openroom">
                    <img src="../static/img/tweetThis.svg"/>
                </a>
            </div>
            <div class="content-body">
                <div class="success-text">Success!</div>
                <div class="description line-1"> Welcome to Openroom built with Flask</div>
                <div class="description line-2"> This is the future of Openroom!</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>On premises, in the cloud</h2>
            <p>
                Openroom Flask will work on premises or in the cloud thanks to our commitment to containers.
            </p>
            <p><a class="btn btn-default" href="https://openroom.azurewebsite.net">See a demo &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Privacy aware, security conscious</h2>
            <p>Openroom Flask allows you to track what is important to you on the server-side
                without compromising on privacy and security on the client side.
                Openroom Flask will not include any third-party tracking code by default.
                What happens between you and your users stays between you and your users.
                Openroom Flask recommends Mozilla Firefox.
            </p>
            <p><a class="btn btn-default" href="https://www.mozilla.org/firefox/">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Committed to free and open source software</h2>
            <p>
                Learn more about all you can do with Azure DevOps project by visiting the documentation
                This experimental instance of openroom flask is available on
                <a href="https://github.com/kusl/openroomazurewebsites">
                    Github
                </a>.
            </p>
            <p><a class="btn btn-default" href="https://github.com/openroom">Current Openroom &raquo;</a>
            </p>
        </div>
    </div>

{% endblock %}
