<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - {{ global_organization_name }}</title>
    <link href="/static/scripts/bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/content/site.css"/>
    <script src="/static/scripts/modernizr-2.8.3.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="manifest" href="/static/img/site.webmanifest">
    <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Openroom">
    <meta name="application-name" content="Openroom">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/static/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">{{ global_organization_name }}</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contact') }}">Link</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container body-content">
    {% block content %}{% endblock %}
    <hr/>
    <footer>
        <p>&copy; {{ year }} - {{ global_organization_name }}</p>
    </footer>
</div>

<script src="/static/scripts/jquery3.min.js"></script>
<script src="/static/scripts/popper.min.js"></script>
<script src="/static/scripts/bootstrap4.min.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>
